.container{
    width: 100%;
}
.wrapper{
    display: flex;
    justify-content: center;
}
.actionsBlock{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #F5EDED;
    margin: 20px 0;
    padding: 20px 20px;
    border-radius: 10px;
}
.buttonsBlock{
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-left: 60px;
    margin-top: 10px;
}
.action{
    width: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 15px;
}
.action:hover{
    background-color: rgba(127, 161, 195,0.5);
}
.watsNewBlock{
    display: flex;
    margin-bottom: 10px;
}
.newPostBtn{
    width: calc(100% - 50px);
}
.userImgBlock{
    overflow: hidden;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}

.userImg{
    height: 100%;
}
/* posts */
