.modalBox {
    width: 70%;
    min-width: 700px;
    min-height: 500px;
    height: 70%;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
}

.postBlock {
    width: 65%;
    overflow: hidden;
    background-color: #F5EDED;
    padding: 10px;
    border-radius: 15px;

}

.userInfo {
    height: 15%;
}

.imgWrapper {
    width: 100%;
    height: 75%;
    background-color: rgb(161, 159, 159);
    overflow: hidden;
    position: relative;
}

.showInfo {
    height: 10%;

}

.ZoomImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Ensures the entire image is visible */
    position: absolute;
}

.actionsBlock {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F5EDED;
    border-radius: 15px;
    padding: 10px;
}

.commentsPart {
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.actionsPart {
    /* height: 20%; */
    width: 100%;
    padding-top: 10px;
}

.iconBtn {
    border: none;
    background: none;
    transition: 0.2s;
}

.iconBtn:hover {
    transform: scale(1.2);
}

.fieldWrapper {
    /* height: 70px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendBtn {
    margin-left: 10px;
    cursor: pointer;
}