.container{
    width: 100% - 100px;
    height: 100vh;
    margin-left: 100px;
}
.coverSection{
    width: 100%;
    height: 30%;
    max-height: 250px;
    background-color: #7FA1C3;
}
.mainSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* UserInfoBlock */
.userInfoWrapper{
    height: 100%;
    width: 100%;
    min-width: 400px;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.imgBlock{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -75px;
    background-color: black;
}
.imgWrapper{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.mainImg{
    height: 100%;
    transition: 0.2s;
}
.mainImg:hover{
    opacity: 0.8;
}

.infoBlock{
    margin-top: 100px;
    min-width: 250px;
}
.nameBlock{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 25px;
    color: #2E3C4F;
}

.followFollowing{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.followers,.following{
    display: flex;
    flex-direction: column;
}
.followText{
    font-size: 16px;
    font-family: sans-serif;
    color: rgba(46, 60, 79, 0.7);
    font-weight: 200;
}
.followCount{
    font-size: 20px;
    font-family: sans-serif;
    color: #6482AD;
    font-weight: 700;
    text-align: center;
}


/* ActionBlock */

.actionBlock{
    width: 100%;
    height: 70px;
    background-color: #F5EDED;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    min-width: 400px;
}
.actionsWrapper{
    display: flex;
    align-items: center;
}


/* ShowBlock */
.showBlock{
    width: 100%;
    min-width: 400px;
    background-color: #F5EDED;
    height: 500px;
}