.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(86, 86, 199, 1) 46%, rgba(2, 0, 36, 1) 100%);
}
.mainWrapper{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.formBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 70%;
    padding: 5%;
}
.submitBtn{

}